Get started with Playsay's photo tagging game
<a href="javascript:void(0);" id="login_link">Log in</a>
<% form_for @user, :html => {'data-remote' => true} do |f| %>
  <%= f.hidden_field :facebook_id %>
<% end %>
